body {
  background-color: #282c34 !important;
}


.App {
  text-align: center;
  background-color: #282c34;
}
input::placeholder {
  text-align: left !important;
}

.inputList{
  text-align: left !important;
}

section {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: white;
}



ul li {
  display: flex
}